@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Bolt"),
    url(../fonts/Roboto/Roboto-Bolt.ttf) format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: local("Roboto"), local("Roboto-Bold"),
    url(../fonts/Roboto/Roboto-Bold.ttf) format("truetype");
}
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
/* ########## HEADER STYLE ########## */
header {
  display: flex;
  position: relative;
}
/* ########## Logo ########## */
header img:nth-of-type(1) {
  height: 1.6rem;
  margin: 1.6rem;
  position: fixed;
}
/* ########## img illustracion ########## */
header img:nth-of-type(2) {
  height: 25.3rem;
  position: absolute;
  right: 0;
}
/* ########## img illustracion people ########## */
header img:nth-of-type(3) {
  height: 25.3rem;
  position: absolute;
  right: 0;
  animation: upAndDown 3s infinite;
}
@keyframes upAndDown {
  0% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(20px);
  }
}
/* ########## The DesignProject ########## */
header p:nth-of-type(1) {
  position: absolute;
  top: 1.5rem;
  left: 3.7rem;
  color: #000;
  font-size: 1.1rem;
  width: 1.7rem;
}
header p:nth-of-type(2) {
  font-size: 0.6rem;
  position: absolute;
  top: 2.7rem;
  left: 3.8rem;
  color: #000;
}
header h1:nth-of-type(1) {
  position: absolute;
  color: #0b0c17;
  top: 1.5rem;
  left: 5.6rem;
  font-size: 2.4rem;
  margin-top: 12rem;
  width: 25.5rem;
}
header p:nth-of-type(3) {
  font-size: 1.1rem;
  position: absolute;
  top: 19.5rem;
  left: 5.6rem;
  color: #000;
  width: 32.3rem;
}
header img:nth-of-type(4) {
  height: 1.3rem;
  margin: 20.7rem 18.3rem;
  left: 0;
}
/* ############### SCROLL TO SEE MORE  ############### */
header p:nth-of-type(4) {
  font-size: 1.3rem;
  position: absolute;
  top: 27.3rem;
  left: 5.6rem;
  color: #ff3571;
}
/* ############### MAIN ############### */
/* ########## SECTION 1 ########## */
main section:nth-of-type(1) img {
  width: 100vw;
  margin-top: -3rem;
}
/* ########## SECTION 2 ########## */
section:nth-of-type(2) {
  width: 100%;
  margin: 12rem auto;
  display: grid;
}
section:nth-of-type(2) h2 img {
  width: 20%;
  color: #0b0c17;
}
section:nth-of-type(2) h2 {
  width: 18%;
  font-size: 2.1rem;
  margin: 0.8rem 5.6rem;
  color: #000;
}
section:nth-of-type(2) p {
  width: 45%;
  font-size: 0.8rem;
  margin: -10.2rem 23.8rem;
  color: #000;
  line-height: 1.5rem;
}
/* ########## SECTION 3 ########## */
.box1 {
  width: 100%;
  text-align: left;
  padding-top: 4.8rem;
}
section:nth-of-type(3) h2 {
  width: 45%;
  font-size: 2.1rem;
  margin: 8.8rem 5rem;
  color: #0b0c17;
  /* background-color: yellow; */
}
/* ##### WIDTH BILDER ##### */
.title {
  width: 20px;
  margin-left: 8.9rem;
}
.box2 {
  /* width: 65%; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 200px 200px;
  gap: 0.5rem;
  padding: 3rem 5rem;
}
.box2 > div {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 45%;
  line-height: 1.7rem;
}

/* ##### DIV 1 ##### */
.box2 div:nth-of-type(1) {
  /* background-color: green; */
  grid-column: 1/2;
  grid-row: 1/2;
  margin: 0.3rem 1.3rem;
}
/* ##### DIV 2 ##### */
.box2 div:nth-of-type(2) {
  /* background-color: red; */
  grid-column: 1/2;
  grid-row: 1/2;
  margin: -1.7rem 1.3rem;
}
/* ##### DIV 3 ##### */
.box2 div:nth-of-type(3) {
  /* background-color: palevioletred; */
  grid-column: 2/3;
  grid-row: 1/3;
    margin: 0.3rem 1.3rem;
}
/* ##### DIV 4 ##### */
.box2 div:nth-of-type(4) {
  /* background-color: goldenrod; */
  grid-column: 2/3;
  grid-row: 1/3;
   margin: -1.7rem 1.3rem;
}
/* ##### DIV 5 ##### */
.box2 div:nth-of-type(5) {
  /* background-color: blue; */
  grid-column: 1/2;
  grid-row: 2/2;
    margin: 0.3rem 1.3rem;
}
/* ##### DIV 6 ##### */
.box2 div:nth-of-type(6) {
  /* background-color: yellow; */
  grid-column: 1/2;
  grid-row: 2/2;
   margin: -1.7rem 1.3rem;
}
/* ##### DIV 7 ##### */
.box2 div:nth-of-type(7) {
  grid-column: 2/3;
  grid-row: 2/3;
    margin: 0.3rem 1.3rem;
}
/* ##### DIV 8 ##### */
.box2 div:nth-of-type(8) {
  grid-column: 2/3;
  grid-row: 2/3;
  /* background-color: red; */
   margin: -1.7rem 1.3rem;
}
section:nth-of-type(3) h3 {
  color: #0b0c17;
  margin: 2rem;
}
section:nth-of-type(3) p {
  width: 80%;
 padding: 0.2rem 1.7rem;
  font-size: 0.8rem;
}
/* ########## SECTION 4 ########## */

.box3 article {
  /* background-color: #ff3571; */
  width: 100%;
  text-align: center;
  padding: 4.8rem 150px 0 100px;
}
.box3 article h2 {
  font-size: 3rem;
}
.box3 article p {
  font-size: 1.2rem;
  margin: 25px 25px;
}
.box4 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 300px 300px 300px 300px;
  gap: 0.5rem;
  padding: 0 100px;
}
.box4 > div {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 45%;
  height: 400px;
  line-height: 1.7rem;
}
.box4 div h3 {
  font-size: 2rem;
  color: #dddddd;
}
.box4 div:nth-of-type(1) {
  background-image: url(../img/step01.png);
}
.box4 div:nth-of-type(2) {
  margin: 24px 18px;
}
.box4 div:nth-of-type(4) {
  background-image: url(../img/step02.png);
}
.box4 div:nth-of-type(5) {
  background-image: url(../img/step03.png);
}
.box4 div:nth-of-type(8) {
  /* background-color: purple; */
  background-image: url(../img/step04.png);
}

/* ##### FOOTER ##### */
footer {
  text-align: center;
  line-height: 2.7rem;
  margin-top: 7.5rem;
}
footer button {
  border: none;
  border-radius: 5px;
  width: 150px;
  padding: 10px;
  background-color: #ff3571;
  color: #fff;
}
footer div {
  text-align: left;
  font-size: 0.7rem;
  margin-left: 100px;
}

.bt:hover {
  background: linear-gradient(to right, #ff3571, #3c30ff);
}

/* ############################## Media Queries ############################## */
@media screen and (max-width: 800px) {
  /* PLATZHALTER   */
}

@media screen and (max-width: 400px) {
  /* ########## Logo ########## */

  header img:nth-of-type(1) {
    position: fixed;
  }
  header h1:nth-of-type(1) {
    top: 0.5rem;
    left: 2.6rem;
  }
  /* ########## The DesignProject ########## */
  header p:nth-of-type(1) {
    /* position: absolute; */
    top: 1.5rem;
    left: 3.7rem;
    color: #000;
    font-size: 1.1rem;
    /* width: 1.7rem; */
  }
  header p:nth-of-type(2) {
    font-size: 0.6rem;
    position: absolute;
    top: 2.7rem;
    left: 3.8rem;
    color: #000;
  }
  header h1:nth-of-type(1) {
    /* position: absolute; */
    color: #0b0c17;
    top: 13.5rem;
    left: 1.6rem;
    font-size: 2.4rem;
    margin-top: 12rem;
    width: 25.5rem;
  }
  header p:nth-of-type(3) {
    font-size: 1.1rem;
    /* position: absolute; */
    top: 32.3rem;
    left: 3.6rem;
    color: #000;
    width: 15.3rem;
  }
  header img:nth-of-type(4) {
    height: 1.3rem;
    margin: 20.7rem 18.3rem;
    left: 0;
  }
  /* ############### SCROLL TO SEE MORE  ############### */
  header p:nth-of-type(4) {
    font-size: 1.3rem;
    top: 37.3rem;
    left: 3.6rem;
    color: #ff3571;
  }
  /* ############### MAIN ############### */
  /* ########## SECTION 1 ########## */
  main section:nth-of-type(1) img {
    margin-top: 2rem;
  }
  /* ########## SECTION 2 ########## */
  section:nth-of-type(2) {
    /* width: 100%; */
    /* margin: 2rem auto; */
    /* display: grid; */
  }
  /* section:nth-of-type(2) h2 img {
    width: 20%;
    color: #0b0c17;
  } */
  section:nth-of-type(2) h2 {
    width: 80%;
    /* font-size: 2.1rem;
    position: absolute; */
    top: 60.3rem;
    left: 3.6rem;
    /* color: #000; */
  }
  section:nth-of-type(2) p {
    width: 75%;
    font-size: 0.9rem;
    margin: 1.8rem 3.6rem;
    color: #000;
    /* line-height: 1.5rem; */
  }
  /* ########## SECTION 3 ########## */
  .box1 {
    width: 100%;
    display: grid;
    /* text-align: center; */
    padding: 0.8rem;
  }
  section:nth-of-type(3) h2 {
    width: 80%;
    margin: 1.8rem 3.6rem;
  }
  /* ##### WIDTH BILDER ##### */
  .box2 {
    width: 65%;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    /* gap: 0.8rem; */
    padding: 2.3rem 4.5rem;
  }
  /* ##### DIV 1 ##### */
  .box2 div:nth-of-type(1) {
    /* background-color: green; */
    grid-column: 1/2;
    grid-row: 1/2;
  }
  /* ##### DIV 2 ##### */
  .box2 div:nth-of-type(2) {
    /* background-color: palevioletred; */
    grid-column: 1/2;
    grid-row: 2/3;
  }
  /* ##### DIV 3 ##### */
  .box2 div:nth-of-type(3) {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  /* ##### DIV 4 ##### */
  .box2 div:nth-of-type(4) {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  section:nth-of-type(3) h3 {
    color: #0b0c17;
    margin-top: -1rem;
  }
  section:nth-of-type(3) p {
  margin: 1.8rem 3.6rem;
    font-size: 0.8rem;
  }
  /* ########## SECTION 4 ########## */

  .box3 article {
    width: 65%;
    text-align: center;
    padding: 4.8rem 150px 0 100px;
  }
  .box3 article h2 {
    font-size: 1.9rem;
       margin: 14.8rem -0.4rem;
  }
  .box3 article p {
    font-size: 1.2rem;
   margin: 7.8rem -0.4rem;
  }
  .box4 {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    /* gap: 0.8rem; */
    padding: 2.3rem 4.5rem;
  }

  /* ##### FOOTER ##### */
  footer {
  text-align: center;
  line-height: 2.7rem;
  margin-top: 7.5rem;
}
footer button {
  border: none;
  border-radius: 5px;
  width: 150px;
  padding: 10px;
  background-color: #ff3571;
  color: #fff;
}
footer div {
  text-align: left;
  font-size: 0.7rem;
  margin-left: 100px;
}
.bt:hover {
  background: linear-gradient(to right, #ff3571, #3c30ff);
}